*{
    font-family: Tahoma;
    box-sizing: border-box;
}
#logo{
    font-size: 33pt;
    font-weight: bold;
    color: white;
    padding: 10px 1px 5px;
    text-shadow: 1px 2px 5px orange;
}
#Search{
    padding: 15px 1px 20px;
    float: right;
}
.navbar{
    width: 100%;
    overflow: auto;
    background-color: #f90;
}
.navbar a{
    font-size: 15pt;
    color: #fff;
    text-decoration: none;
    padding: 15px 5px;
    width: 14%;
    float: left;
    text-align: center;
}
.navbar a:hover{
    background-color: #f60;
}